html,
body,
.intro {
  height: 100%;
margin: 50px;
}
table{
  /*max-width: 500px; !* Set maximum width *!*/
  margin: 0 auto;
  overflow-y: auto; /* Add vertical scrollbar */
  max-height: 400px;
}
table td,
table th {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

}

.card {
  border-radius: .5rem;
}

.mask-custom {
  background: rgba(24, 24, 16, .2);
  border-radius: 2em;
  backdrop-filter: blur(25px);
  border: 2px solid rgba(255, 255, 255, 0.05);
  background-clip: padding-box;
  box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.03);
}
.btn-get-started {

  font-family: var(--font-secondary);
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 50px;
  transition: 0.5s;
  color: #fff;
  background: var(--color-primary);
}
.mb-3{
  margin-top: 50px;
}
.btn-get-started:hover {
  background: #df2a2a;
}

.diamond-icon {
  color: #B9F2FF; /* Blue */
}

.gold-icon {
  color: #FFD700; /* Orange */
}

.silver-icon {
  color: #BCC6CC; /* Grey */
}

.unpayed-icon {
  color: #f44336; /* Red */
}

.filter-container {
  position: relative;
}

.add-button {
  position: absolute;
  top: -40px; /* Adjust the top position to place it above the select element */
  right: 100px; /* Adjust the right position to separate it from the select element */
}

.select-pack {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  appearance: none;
  width: auto;
  position: absolute;
  right: 20px;
}
.button-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px; /* Adjust as needed */
}

.add-button,
.select-pack {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
}
.red-icon{
  color: #f44336; /* Red */
}
.green-icon{
  color: #21a211; /* Red */

}

