<body class="page app  items index">

    <!------------------------------------------------------------------------------->

    <app-header></app-header>

    <!------------------------------------------------------------------------------->
<div class="card">
    <div class="card-body">
      <div class="col-md-6">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

          <div class="header">
            <h1>Update Account</h1>

          </div>

          <div class="form-group">
            <label for="first_name">First name</label>
            <input matInput type="text" id="first_name" name="first_name" class="form-control "
              formControlName="firstName" placeholder="first_name" required autofocus>
          </div>
          <div class="form-group">
            <label for="last_name">Last name</label>
            <input matInput type="text" id="last_name" name="last_name" class="form-control "
              formControlName="lastName" placeholder="last_name" required autofocus>
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input matInput type="email" id="email" name="email" class="form-control " formControlName="email"
              placeholder="Email" required autofocus>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input matInput formControlName="password" type="password" id="password" name="password"
              class="form-control " placeholder="Password" required>
          </div>



          <div class="form-group">
            <button class="btn btn-primary px-4" type="submit">Update</button>
          </div>


        </form>
      </div>

    </div>
  </div>
  <!------------------------------------------------------------------------------->

<!------------------------------------------------------------------------------->
</body>