<body class="page-about">

<!-- ======= Header ======= -->

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>About</h2>
      <ol>
        <li><a href="index.html">Home</a></li>
        <li>About</li>
      </ol>

    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4" data-aos="fade-up">
        <div class="col-lg-4">
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-lg-8">
          <div class="content ps-lg-5">
            <h3>Start Your Event Journey Today</h3>
            <p>
              Experience the convenience of managing a job fair event seamlessly.<br>
              Our app provides a platform for professionals and students to connect, <br>
              explore job opportunities, and engage in recruitment activities.<br>
              Get started now and unlock a world of possibilities!<br>
            </p>

          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Why Choose Us Section ======= -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-header">
        <h2>Why Choose Us</h2>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="200">
        <div class="col-xl-5 img-bg" style="background-image: url('assets/img/etudiants.jpg')"></div>
        <div class="col-xl-7">
          <div class="swiper-container">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="why-us-item">
                  <h3>Unlock Limitless Opportunities</h3>
                  <h4>Join Us at the Forum Management Event</h4>
                  <p>Are you ready to take your business to new heights? Join us at our Forum Management Event and unlock a world of opportunities. Connect with industry leaders, discover innovative solutions, and accelerate your business growth. Don't miss this chance to network, learn, and succeed - reserve your booth today!</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="why-us-item">
                  <h3>Experience the Future of Career Opportunities</h3>
                  <h4>Connect, Collaborate, and Succeed</h4>
                  <p>Join us at our Forum Management Event and unlock a world of opportunities. Discover the latest industry trends, forge valuable connections, and take your career to new heights. Don't miss out on this transformative experience - reserve your booth today!</p>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="why-us-item">
                  <h3>Discover New Horizons</h3>
                  <h4>Explore Endless Possibilities</h4>
                  <p>Embark on a journey of discovery and innovation at our Forum Management Event. Uncover new horizons, seize opportunities, and chart a path to success. With engaging workshops, insightful presentations, and dynamic networking sessions, there's no limit to what you can achieve. Join us and let your ideas soar!</p>
                </div>
              </div>
              <!-- Add more swiper slides as needed -->
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- ======= Team Section ======= -->
  <section id="team" class="team">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Our Team</h2>

      </div>

      <div class="row gy-4">
<!---->
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member">
            <div class="member-img">

              <img src="../../../assets/img/mirwen.jpg" height="320" width="300"/>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Marwen Mamlouk</h4>
              <span>Media and Communication Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">
              <div class="post-img"><img src="../../../assets/img/nour.jpg"
                                         height="320" width="300"/></div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Nour El Imen</h4>
              <span>Stand Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->
<!--nour-->
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">

              <img src="../../../assets/img/Samar2.jpg"  height="320" width="300"/>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Samar Sassi</h4>
              <span>Request and Application Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member">
            <div class="member-img">

              <img src="../../../assets/img/leila.jpg"  height="320" width="300"/>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Leila Ben Dhief</h4>
              <span>Offer and Feedback Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->
<!---->
        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="300">
          <div class="team-member">
            <div class="member-img">
              <img src="../../../assets/img/aziz.jpg" height="320" width="300"/>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Mohamed Aziz Boughanmi</h4>
              <span>User Manager</span>
            </div>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-3 col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-up" data-aos-delay="400">
          <div class="team-member">
            <div class="member-img">
              <img src="../../../assets/img/akrem.jpg" height="320" width="300"/>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Med Akrem Bargaoui</h4>
              <span>Auction Manager</span>
            </div>
          </div>

        </div><!-- End Team Member -->


      </div>

    </div>

  </section><!-- End Team Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="footer-content">
    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="index.html" class="logo d-flex align-items-center">
            <img class="d-flex align-items-center" src="assets/img/logo.png" alt="">
          </a>
          <div class="social-links d-flex  mt-3">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>



        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start" style="margin-left: -230px; margin-top: 45px;">
          <h4>Contact Us</h4>

        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">

          <p>
            18, Factory Street <br>
            ZI Aéroport Charguia II <br>
            Ariana , 2035 <br><br>

          </p>

        </div>
        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">

          <p>
            <strong>Phone:</strong> (+216) 71 94 15 41<br>
            <strong>Email:</strong> contact@esprit.ens.tn<br>
          </p>

        </div>

      </div>
    </div>
  </div>

  <div class="footer-legal">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>PiDevils</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nova-bootstrap-business-template/ -->
        2024
      </div>
    </div>
  </div>

</footer><!-- End Footer --><!-- End Footer -->





</body>
