<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact-header.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center">

    <h2>OFFERS</h2>
    <ol>
      <li><a href="index.html">Home</a></li>
      <li>OFFERS</li>
    </ol>

  </div>
</div><!-- End Breadcrumbs -->

<br>
<div class="container">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let offer of offers">
      <div class="card">
        <div class="card-body">
          <span style="margin-left: 350px;"></span> <button class="btn" [class.btn-warning]="isFavorite(offer)"  (click)="toggleFavorite(offer)" style="font-size: 20px;">
          <i class="fa fa-star" aria-hidden="true" style="color: gold;"></i>
        </button>

          <h5 class="card-title" style="color: rgba(208, 0, 0, 0.85); font-weight: bold; font-size: 1.2rem;">{{ offer.offerTitle }}
          </h5>
          <p class="card-text"><span style="color: grey; font-weight: bold;">Posting Date:</span> {{ offer.postingDate }}</p>
          <p class="card-text"><span style="color: grey; font-weight: bold;">Closing Date:</span> {{ offer.closingDate }}</p>
          <p class="card-text"><span style="color: grey; font-weight: bold;">Location:</span> {{ getLocationName(offer.location) }}</p>
          <p class="card-text"><span style="color: grey; font-weight: bold;">Contract Type:</span> {{ offer.employementType }}</p>
          <p class="card-text"><span style="color: grey; font-weight: bold;">Status:</span> {{ offer.offerStatus }}</p>
          <p class="card-text">
            <span style="color: grey; font-weight: bold;">Description:</span>
            {{ offer.idOffer !== undefined && expandedOffers[offer.idOffer] ? offer.offerDescription : offer.offerDescription.substring(0, 100) }}
          </p>
          <p class="card-text" style="color: maroon; cursor: pointer;" (click)="toggleOfferDescription(offer.idOffer)">
            {{ offer.idOffer !== undefined && expandedOffers[offer.idOffer] ? 'View less' : 'View more' }}
          </p>

          <div class="d-flex justify-content-between">
            <button class="btn btn-secondary" [routerLink]="['/edit-offer', offer.idOffer]">Edit</button>
            <button class="btn btn-danger" style="background-color: maroon;"(click)="deleteOffer(offer)">Delete</button>
          </div>
          <br>
          <div class="mt-2">
            <span>Share on: </span>
            <span style="margin-left: 30px;"></span>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{encodeURIComponent(offerLink)}}" target="_blank">
              <i class="fab fa-facebook" style="cursor: pointer; font-size: 1.5rem;"></i>
            </a>
            <span style="margin-left: 30px;"></span>
            <a href="https://www.linkedin.com/sharing/share-offsite/?url={{encodeURIComponent(offerLink)}}" target="_blank">
              <i class="fab fa-linkedin" style="cursor: pointer; font-size: 1.5rem;"></i>
            </a>
            <span style="margin-left: 30px;"></span>
            <a href="https://twitter.com/intent/tweet?url={{encodeURIComponent(offerLink)}}" target="_blank">
              <i class="fab fa-twitter" style="cursor: pointer; font-size: 1.5rem;"></i>
            </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
