<header id="header" class="header d-flex align-items-center fixed-top">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

    <a href="index.html" class="logo d-flex align-items-center">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <img class="d-flex align-items-center" src="assets/img/logo.png" alt="">
      <!--<h1 class="d-flex align-items-center">Nova</h1>-->
    </a>

    <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
    <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="active">Home</a></li>
        <li><a>About</a></li>
        <li><a>Services</a></li>
        <li><a>Team</a></li>
        <li><a>Blog</a></li>
        <li class="dropdown"><a><span>Admin</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>


          <i class="bi bi-chevron-down dropdown-indicator"></i>
          <ul>
            <li  ><a [routerLink]="['/CreateEvent']">Event Creation</a></li>

            <li><a [routerLink]="['/stand']">Stands</a></li>

            <li><a href="#">users</a></li>
            <li><a href="#">materials</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#">
            <i class="material-icons">person</i>
            <i class="bi bi-chevron-down dropdown-indicator"></i>
          </a>
          <ul>
            <li><a href="#">Stands</a></li>
            <li><a href="#">users</a></li>
            <li><a href="#">materials</a></li>
          </ul>
        </li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </nav>

  </div>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Vendor JS Files -->
  <script> const selectHeader = document.querySelector('#header');
  if (selectHeader) {
    document.addEventListener('scroll', () => {
      window.scrollY > 100 ? selectHeader.classList.add('sticked') : selectHeader.classList.remove('sticked');
    });
  }
  </script>
</header><!-- End Header -->