.section-header h2:after {
  background: var(--color-primary);
}
.navbar .dropdown .material-icons {
  font-size: 24px; /* Adjust the size as needed */
  vertical-align: middle; /* Align the icon vertically */
  margin-right: 5px; /* Add some spacing between the icon and the text */
}
