/* General container styling */
.form-container {
  background-color: rgb(46, 57, 85);
  width: 50%;
  margin:  20px auto 100px;; /* Auto margin to center horizontally */
  padding: 30px;
  border-radius: 2%;
  height: fit-content;
}



/* Form group styling */
.form-group {
  margin-bottom: 20px;
}

/* Label styling */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; /* Optionally add bold font weight to labels */
}

/* Error message styling */
.error-message {
  color: red;
  font-size: 14px; /* Optionally adjust font size for error messages */
}

/* Textarea styling */
.taller-textarea {
  height: 150px;
  resize: vertical; /* Allow vertical resizing */
}

/* Primary button styling */
.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover transition */
}

.btn-primary:hover {
  background-color: #0056b3;
}

  .is-invalid {
    border: 1px solid red;
  }
  