.container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  width: 800px;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 8px;
}

.login-box form {
  display: grid;
  gap: 10px;
}

.user-box {
  position: relative;
}

input,
textarea,
select,
input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

label {
  position: absolute;
  margin: 2px;
  top: -30px; /* Move label up by 10px */
  left: 0;
  font-size: 16px;
  padding: 10px;
  color: #999;
  pointer-events: none;
  transition: 0.2s ease-in all;
}

input:focus ~ label,
textarea:focus ~ label,
select:focus ~ label,
input[type="file"]:focus ~ label {
  top: -25px;
  left: 0;
  font-size: 14px;
  color: #333;
  background: #fff;
  padding: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.error-message {
  position: absolute;
  top: 0;
  right: 0; /* Position the error message on the right side */
  color: #d9534f;
  background-color: #9999997e;
  border-radius: 5px;
  font-size: 12px;
}
