h2 {
    text-align: center;
    color: #333;
  }
  
  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  div {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
  }
  
  input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  button[type="button"] {
    background-color: #ccc;
    color: #333;
  }
  
  button[type="button"]:hover {
    background-color: #bbb;
  }
  
  /*----Checkbox------*/
  
  /* app.component.css */
.checkbox-wrapper input[type="checkbox"] {
    display: none;
  }
  
  .checkbox-wrapper label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
    line-height: 20px;
  }
  
  .checkbox-wrapper label::before {
    content: '✘';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #333;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
  }
  
  .checkbox-wrapper input[type="checkbox"]:checked + label::before {
    content: '✔';
    background-color: green;
  }