.Style {
.my-form {
    background-color: #f8f9fa;
    padding: 20px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
  }
  
  .my-form label {
    font-weight: bold;
  }
  
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid red;
  }

  
  .my-form button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .my-form button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .my-form .form-group {
    margin-bottom: 20px;
  }
}