<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- ======= Breadcrumbs ======= -->
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact-header.jpg');">
  <div class="container position-relative d-flex flex-column align-items-center">
    <h2>ADD FEEDBACK</h2>
    <ol>
      <li><a href="index.html">Home</a></li>
      <li>Add Feedback</li>
    </ol>
  </div>
</div><!-- End Breadcrumbs -->

<!-- ======= Add Feedback Section ======= -->
<section id="add-feedback" class="add-feedback">
  <div class="container position-relative" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">

            <form [formGroup]="feedbackForm" (ngSubmit)="onSubmit()" >
              <div class="mb-3">
                <label for="submitedDate" class="form-label" style="color: rgba(208, 0, 0, 0.85); font-weight: bold; font-size: 1.2rem;">Submitted Date</label>
                <input type="date" class="form-control" id="submitedDate" formControlName="submitedDate" required>
                <div *ngIf="feedbackForm.get('submitedDate')?.errors?.['required'] && (feedbackForm.get('submitedDate')?.touched)" class="text-danger">
                  Submitted Date is required.
                </div>
              </div>
              <div class="mb-3">
                <label for="feedBackContent" class="form-label" style="color: rgba(208, 0, 0, 0.85); font-weight: bold; font-size: 1.2rem;">Feedback Content</label>
                <span style="margin-left: 610px;"></span>
                <img src="./assets/img/assistant.png" alt="Description de l'image" (click)="openAssistanceDialog()" style="cursor: pointer; width: 50px; height: 50px;">
                <textarea class="form-control" id="feedBackContent" formControlName="feedBackContent" required></textarea>
                <div *ngIf="feedbackForm.get('feedBackContent')?.errors?.['required'] && (feedbackForm.get('feedBackContent')?.touched)" class="text-danger">
                  Feedback Content is required.
                </div>
              </div>
              <div class="mb-3">
                <label for="rating" class="form-label" style="color: rgba(208, 0, 0, 0.85); font-weight: bold; font-size: 1.2rem;">Rating</label>
                <input type="number" class="form-control" id="rating" formControlName="rating" required>
                <div *ngIf="feedbackForm.get('rating')?.errors?.['required'] && (feedbackForm.get('rating')?.touched)" class="text-danger">
                  Rating is required.
                </div>
              </div>
              <div class="mb-3">
                <label for="feedbackType" class="form-label" style="color: rgba(208, 0, 0, 0.85); font-weight: bold; font-size: 1.2rem;">Feedback Type</label>
                <select class="form-control" id="feedbackType" formControlName="feedBackType" required>
                  <option value="General_FeedBack">General Feedback</option>
                  <option value="Bug_Report">Bug Report</option>
                  <option value="Feature_Request">Feature Request</option>
                </select>
                <div *ngIf="feedbackForm.get('feedbackType')?.errors?.['required'] && (feedbackForm.get('feedbackType')?.touched)" class="text-danger">
                  Feedback Type is required.
                </div>
              </div>
              <div class="mb-3">
                <label for="priority" class="form-label" style="color: rgba(208, 0, 0, 0.85); font-weight: bold; font-size: 1.2rem;">Priority</label>
                <select class="form-control" id="priority" formControlName="priority" required>
                  <option value="Low">Low</option>
                  <option value="Medium">Medium</option>
                  <option value="High">High</option>
                </select>
                <div *ngIf="feedbackForm.get('priority')?.errors?.['required'] && (feedbackForm.get('priority')?.touched)" class="text-danger">
                  Priority is required.
                </div>
              </div>
              <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
