<p>requestadmin works!</p>
<p>request works!</p>
<div>
  <h2>Requests</h2>
  <div class="row">
    <div class="col-sm-6" *ngFor="let request of requests">
      <div class="card">
        <div class="card-header">
          {{ request.requestTitle }}
        </div>
        <div class="card-body">
          <p class="card-text">Content: {{ request.requestContent }}</p>
          <p class="card-text">Posting Date: {{ request.postingDate }}</p>
          <p class="card-text">Location: {{ request.location }}</p>
          <p class="card-text">CV: {{ request.cv }}</p>

          <button class="delete-button" (click)="deleteRequest(request.idRequest)">Delete</button>


        </div>
      </div>
    </div>
  </div>
</div>
