@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the form */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Style labels for form fields */
  label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
  }
  
  /* Style text inputs and textareas */
  input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
  }
  
  /* Style the submit button */
  button {
    padding: 12px;
    background-color:rgba(208, 0, 0, 0.85);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }


  /*-------add button------*/

  .education-section {
    margin-bottom: 20px; /* Adjust the margin as needed */
  }
  
  .add-button {
    font-size: 18px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background-color: rgba(208, 0, 0, 0.85);
    color: #fff;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .add-button:hover {
    background-color:rgba(208, 0, 0, 0.85);
  }

  .stepper-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust as needed */
  }
  
  .stepper-navigation-button {
    border-radius: 50px;
    font-size: 1.5em; /* Adjust as needed */
  }
  .stepper-navigation-button:hover {
    border-radius: 50px;
    background: rgba(208, 0, 0, 0.85);;
    font-size: 1.5em; /* Adjust as needed */
  }