
<html lang="en">

<main id="main">
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/about-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Generate Resume</h2>


      </div>
    </div>
  </main>


    <div class="container">
        <!-- resume.component.html -->

        <form [formGroup]="resumeForm">
            <mat-horizontal-stepper>
              <!-- Step 1: Contact Information -->
              <mat-step label="Contact Information">
                <div>
                  <label for="fullName">Full Name:</label>
                  <input type="text" id="fullName" name="fullName" formControlName="fullName">

                  <label for="phoneNumber">Phone Number:</label>
                  <input type="text" id="phoneNumber" name="phoneNumber" formControlName="phoneNumber">

                  <label for="profileUrl">LinkedIn Profile URL:</label>
                  <input type="text" id="profileUrl" name="profileUrl" formControlName="profileUrl">

                  <label for="email">Email:</label>
                  <input type="text" id="email" name="email" formControlName="email">

                  <label for="about">About Me:</label>
                  <textarea id="about" name="about" formControlName="about"></textarea>
                </div>
                <div class="stepper-navigation">
                    <button matStepperNext class="stepper-navigation-button">→</button>
                </div>
              </mat-step>

              <mat-step label="Education">
                <div>
                  <label for="schoolName">School Name:</label>
                  <input type="text" id="schoolName" name="schoolName" formControlName="schoolName">

                  <label for="startDate">Start Date:</label>
                  <input type="date" id="startDate" name="startDate" formControlName="startDate">

                  <label for="endDate">End Date:</label>
                  <input type="date" id="endDate" name="endDate" formControlName="endDate">

                  <label for="studyField">Study Field:</label>
                  <input type="text" id="studyField" name="studyField" formControlName="studyField">

                  <label for="degree">Degree:</label>
                  <input type="text" id="degree" name="degree" formControlName="degree">

                  <hr>
                </div>

              <div class="stepper-navigation">
                  <button matStepperPrevious class="stepper-navigation-button">←</button>
                  <!-- <button class="stepper-navigation-button" (click)="addEducation()" [disabled]="!areAllEducationsValid()" >+</button> -->
                  <button matStepperNext class="stepper-navigation-button" >→</button>
              </div>

              </mat-step>

              <mat-step label="Experience">
                <div>
                  <label for="experienceTitle">Experience Title:</label>
                  <input type="text" id="experienceTitle" name="experienceTitle" formControlName="experienceTitle">

                  <label for="companyName">Company Name:</label>
                  <input type="text" id="companyName" name="companyName" formControlName="companyName">

                  <label for="expstartDate">Start Date:</label>
                  <input type="date" id="expstartDate" name="expstartDate" formControlName="expstartDate">

                  <label for="expendDate">End Date:</label>
                  <input type="date" id="expendDate" name="expendDate" formControlName="expendDate">

                  <label for="experienceField">Experience Field:</label>
                  <input type="text" id="experienceField" name="experienceField" formControlName="experienceField">

                  <hr>
                </div>

              <div class="stepper-navigation">
                  <button matStepperPrevious class="stepper-navigation-button">←</button>
                  <!-- <button class="stepper-navigation-button" (click)="addEducation()" [disabled]="!areAllEducationsValid()" >+</button> -->
                  <button matStepperNext class="stepper-navigation-button" >→</button>
              </div>

              </mat-step>

              <mat-step label="Skill">
                <div formArrayName="skills">
                  <div *ngFor="let skill of skills; let i = index">
                    <label for="skillTitle">Skill:</label>
                    <input type="text" id="skillTitle" name="skillTitle" [formControl]="skill">

                    <hr>
                  </div>
                </div>
                <div class="stepper-navigation">
                    <button matStepperPrevious class="stepper-navigation-button">←</button>
                    <button class="stepper-navigation-button" (click)="addSkill()" [disabled]="!areAllSkillsValid()" >+</button>
                    <button matStepperNext class="stepper-navigation-button" >→</button>
                </div>
              </mat-step>

              <mat-step style="background-color: rgba(208, 0, 0, 0.85);" label="Language">
                <div formArrayName="languages">
                  <div *ngFor="let language of languages; let i = index">
                    <label for="languageName">Language:</label>
                    <input type="text" id="languageName" name="languageName" [formControl]="language">

                    <hr>
                  </div>
                </div>
                <div class="stepper-navigation">
                    <button matStepperPrevious class="stepper-navigation-button">←</button>
                    <button class="stepper-navigation-button" (click)="addLanguage()" [disabled]="!areAllLanguagesValid()" >+</button>
                    <button matStepperNext class="stepper-navigation-button" >→</button>
                </div>
              </mat-step> 
             
             
              <mat-step style="background-color: rgba(208, 0, 0, 0.85);" label="Template">
                <div >
                  <div class="ag-format-container">
                    <div class="ag-courses_box">
                      <div class="ag-courses_item" type="submit" mat-button (click)="generateResumePDF()" >
                        <a class="ag-courses-item_link">
                          <div class="ag-courses-item_bg">
                          </div>
                          <div class="ag-courses-item_title">
                            <img src="assets/img/templates/template(vert).png" alt="Image Description" width="200" height="200" style="display: block; margin: auto; border-radius: 5%;">
                          </div>
                          <div class="ag-courses-item_date-box">
                            Blue & Green
                            
                          </div>
                        </a>
                      </div>
                  
                      <div class="ag-courses_item" type="submit" mat-button (click)="generateResumePDF()" >
                        <a class="ag-courses-item_link" >
                           <div class="ag-courses-item_bg">
                          </div>
                          <div class="ag-courses-item_title">
                            <img src="assets/img/templates/template(rose).png" alt="Image Description" width="200" height="200" style="display: block; margin: auto; border-radius: 5%;">
                          </div>
                          <div class="ag-courses-item_date-box">
                            Pink
                            
                          </div>
                        </a>
                      </div>
                  
                      <div class="ag-courses_item" type="submit" mat-button (click)="generateResumePDF()" >
                        <a class="ag-courses-item_link">
                          <div class="ag-courses-item_bg">
                          </div>
                          <div class="ag-courses-item_title">
                            <img src="assets/img/templates/template(beige)modified.png" alt="Image Description" width="200" height="200" style="display: block; margin: auto; border-radius: 5%;">
                          </div>
                          <div class="ag-courses-item_date-box">
                            Light Brown
                            
                          </div>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-step>



              <!-- Final Step -->

            </mat-horizontal-stepper>
        </form>

    </div>





</html>
