<main id="main">
  <div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/about-header.jpg');">
    <div class="container position-relative d-flex flex-column align-items-center">

      <h2>Requests</h2>
      <ol>
        <li><a href="./requests">Requests</a></li>

      </ol>

    </div>
  </div>
  <div>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-e0F6OvBkdpsIf3pT3DwXoJLSr9lBVZL0dCfxqXr8Y2jkEuh6q8R+FTtBXs2CQ8HPfRF7aqqgNSHH1FzFgTOYBg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />

    <div class="search-container" [class.expanded]="showSearch">
      <i class="material-icons search-icon" (click)="toggleSearch()">search</i>
      <input class="search-input" type="text" placeholder="Search..." *ngIf="showSearch" (keyup)="applyFilter($event)">
    </div>

    <div class="content">

      <div class="row position-relative d-flex align-items-center ">
        <div class="card"
          *ngFor="let request of filteredRequests | paginate: { itemsPerPage: itemsPerPage, currentPage: p }">

          <h3 class="blog-title"> {{ request.requestTitle }}</h3>

          <span class="blog-time">{{ request.postingDate }}</span>
          <span class="blog-time">
            <i class="fa-solid fa-map-pin"></i>{{ request.location }}
          </span>
          <p class="description">
            {{ request.requestContent }}
          </p>

          <p class="card-text">Field:</p>
          <mat-chip-listbox aria-label="Field Selection">
            <mat-chip *ngFor="let field of transformRequestField(request)" color="primary">{{ field }}</mat-chip>
          </mat-chip-listbox>
          <div class="options">
            <span>
              See cv
            </span>
            <button class="btn">Blog</button>
          </div>
        </div>
      </div>


    </div>

    <button routerLink="/addrequest"
      style="width: 200px; background-color: rgba(222, 49, 49, 0.94); border-radius: 10px; display: flexbox;"> Add Your
      Request</button>

    <!--Paginator-->

    <div class="ngx-pagination">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>

    </div>
  </div>

</main>

