h2 {
  text-align: center;
  margin-bottom: 20px;
}

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the cards horizontally */
  align-items: center; /* Center the cards vertically */
}

.card{
  width: 25rem;
  height: auto;
  margin-right: 115px;
  margin-left: 75px;
  margin-bottom: 15px;
  background: #e1e1e148;
  box-shadow: #333232;
  border-radius: 1.5rem;
  padding: 1.5rem;
  overflow: hidden;
  position: relative;
   justify-content: center; /* Center the cards horizontally */
 
}

.card-img-holder{
  width: 100%;
  height: auto;
  position: relative;
}

.card-img-holder img{
  width: 100%;
  height: auto;
  max-height: 15rem;
  object-fit: cover;
  border-radius: 1.5rem;
}

.blog-title{
  color: #22215B;
  padding: 1rem 0;
  font-size: 1.5rem;
  align-content: center;
}

.description{
  padding: 1rem 0;
  color: #22215B80;
  font-size: 1rem;
}

.blog-time{
  font-size: .8rem;
  color: #22215B;
}

.options{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
}

.options span{
  font-weight: 600;
  color: #22215B;
}

.btn{
  font-size: 1rem;
  padding: .5rem 1rem;
  border-radius: .5rem;
  font-weight: 400;
  background: #d7e1e8;
  color: #22215B;
  cursor: pointer;
}

.add {
  width: 200px;
  size: 900px;
  background-color: rgba(118, 118, 118, 0.94);
  border-radius: 10px;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin: 10px auto; /* Center the container horizontally with auto margins */
}

.add:hover {
  background-color: rgba(66, 47, 47, 0.832);
  box-shadow: #8b8b8b;
}

/* search bar */

.search-container {
  text-align: center;
  overflow: hidden;
  position: relative;
  justify-content: center; 
  align-items: center;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 0;
  transition: width 0.5s, padding 0.5s;
  border-radius: 5px;
  background: rgba(2, 0, 36, 1);
  background: linear-gradient(360deg, rgba(2, 0, 36, 1) 0%, rgba(54, 54, 167, 0.4459) 10%, rgba(251, 254, 255, 1) 100%);
  /* Background color of the input field */
  color: #fff;
  vertical-align: middle;
  
}


.search-container.expanded .search-icon {
  transform: translateX(-50%);
}

.search-container.expanded .search-input {
  margin: 15px;
  width: 400px;
  /* or any desired width */
  padding: 8px 12px;
}


.ngx-pagination {
  margin-left: 0 !important;
  margin-bottom: 1rem !important;
  line-height: 20px !important;
  padding: 7px 15px 7px !important;
  font-size: 12px !important;
  
}


.ngx-pagination::after {
  clear: both !important;
}

