.event-creation-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh; /* Adjust the height as needed */

}

.card {
  position: absolute;
  display: flex;
  background-color: rgba(255, 255, 255, 0.8); /* You can adjust the opacity as needed */
  border-radius: 10px;
  right: 150px;
  width: 500px;
}


.cardright-section {
  flex: 1;
  padding: 20px;
}

.cardleft-section {
  margin-right: 150vh;
}

.cardright-section {
  padding-left: 20px;
}

/* Additional styling for form elements */
.event-info p {
  margin: 0;
}

.event-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="date"],
input[type="text"],
textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.submit {
  background-color: rgba(208, 0, 0, 0.45);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(208, 0, 0, 0.9);
}
.existing-event-info{
  margin-left: 100px;
}
.existing-event-info h2 {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  color: #000000;
  font-family: var(--font-secondary);
}

.section-title {
  font-size: 24px;
  margin-bottom: 15px;
}


.event-details {
  display: flex;
  flex-direction: column;
  color: rgba(208, 0, 0, 0.9);
  padding-left: 20px;
  font-size: 15px;
  font-family: var(--font-default);
  border-left: 2px solid var(--color-primary);
  margin: 40px 0;
}

.detail-item {
  margin-bottom: 10px;
}

.detail-label {
  font-weight: bold;
}

.no-existing-event-info {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
